# Hacker_Rank

In [1]:
# Say "Hello, World!" With Python

print("Hello, World!")

Hello, World!

In [2]:
# Task
# Given an integer, , perform the following conditional actions:

# If n is odd, print Weird
# If n is even and in the inclusive range of 2 to 5, print Not Weird
# If n is even and in the inclusive range of 6 to 20, print Weird
# If n is even and greater than 20, print Not Weird

def weird(n):
    if n % 2 == 1 or 6<= n <=20:
        print("Weird")
    else:
        print("Not Weird")
    
    
weird(int(input()))

11
Weird

In [3]:
# Task
# The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

# The first line contains the sum of the two numbers.
# The second line contains the difference of the two numbers (first - second).
# The third line contains the product of the two numbers.

n1, n2 = int(input()), int(input())
print((n1+n2), (n1-n2), (n1*n2), sep='\n')

5
4
9
1
20

In [4]:
# Task
# The provided code stub reads two integers,  and , from STDIN.

# Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .

# No rounding or formatting is necessary.

a, b = int(input()), int(input())
print((a//b), (a/b), sep='\n')

3
5
0
0.6

In [12]:
# The provided code stub reads and integer,n , from STDIN. For all non-negative integers i<n, print i2

# def sqr(n):
#     if n > 0:
#         for i in range(n):
#             print((i*i), end='\n')
# sqr(int(input()))

for i in range(int(input())): print(i ** 2)

5
0
1
4
9
16

In [18]:
# An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

# In the Gregorian calendar, three conditions are used to identify leap years:

# The year can be evenly divided by 4, is a leap year, unless:
# The year can be evenly divided by 100, it is NOT a leap year, unless:
# The year is also evenly divisible by 400. Then it is a leap year.
# This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

# Task


# Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

# Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.


def is_leap(y):
    return y % 4 == 0 and (y % 100 != 0 or y % 400 == 0)
is_leap(int(input()))

# def is_leap(year):
#     leap = False
    
#     if year % 4 == 0 and (year%100!=0 or year%400==0):
#         leap = True
    
#     return leap

# year = int(input())
# print(is_leap(year))

1990
False

In [19]:
# The included code stub will read an integer, , from STDIN.

# Without using any string methods, try to print the following:
# 123...n

# Note that "" represents the consecutive values in between.

# Example
# n=5

# Print the string 12345.
for i in range(1, int(input()) + 1):
    print(i, end='')

5
12345

# Big Data types

In [24]:
# Let's learn about list comprehensions! You are given three integers  
# and  representing the dimensions of a cuboid along with an integer . Print
# a list of all possible coordinates given by  on a 3D grid where the sum of  
# is not equal to . Here, 0 <= i <= x; 0<=j<= y; 0<= k<=z . Please use list comprehensions rather than multiple 
# loops, as a learning exercise.

# Example




# All permutations of  are:
# .

# Print an array of the elements that do not sum to .
x, y, z, n = [int(input()) for _ in range(4)]
permutations = [ [i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k != n ]
print(permutations)

1
2
3
4
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [0, 2, 3], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 3], [1, 2, 0], [1, 2, 2], [1, 2, 3]]

In [25]:
# Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

# Input Format

# The first line contains . The second line contains an array   of  integers each separated by a space.
# Problem: https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/problem

n = int(input())
arr = list(map(int, input().split()))
print(max([x for x in arr if x != max(arr)]))

5
2 3 5 6 6
6

In [3]:
# Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

# Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

# Example
#records = [[chi, 20.0], [beta, 50.0], [alpha, 50.0]]

# The ordered list of scores is , so the second lowest score is . There are two students with that score: . Ordered alphabetically, the names are printed as:

def secondLowestGrade(classList):
    secondLowestScore = sorted(set(_[1] for _ in classList))[1]
    result = sorted([_[0] for _ in classList if _[1] == secondLowestScore])
    return result

classList = []
for _ in range(int(input())):
    classList.append([str(input()), float(input())])
print('\n'.join(secondLowestGrade(classList)))

3
n
2
h
3
u
3
h
u

In [ ]:
# The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

# Example
# marks key: value pairs are
#     'alpha':[20,30,40]
#         'beta': [30,50,70]
#             query_name = 'beta'

# The query_name is 'beta'. beta's average score is (30+50+70)/3=50.

def find_avg(n, m):
    c = 0
    for v in m[n]:
        print(v)
#         c += value
        
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = str(input())
    find_avg(query_name, student_marks)